<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pozyx.nfctool"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_delaval"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPage"></activity>
        <activity android:name=".PinEnter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NFCRequirementsPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ScanningPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InsertCowIdPage"
            android:screenOrientation="portrait" />
    </application>

</manifest>